.login{
    background: linear-gradient(to right,#47793B,#122B0F); /* Define el degradado inicial */
    height: 100vh;  
}
.titulo-contenedor{
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}
.contenedorLogin{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 30px;
    background: #fff;
    width: 600px;
    border-radius: 24px;



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}
.text {
    color: #5AD635;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #5AD635;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input{
    display: flex;
    align-items: center;
    margin: auto ;
    width: 480px;
    height: 80px;
    background:#eaeaea ;
    border-radius: 6px;
}


.iconos{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979 ;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979 ;
    font-size: 18px;


}

.forgot-password span {
color:#5AD635 ;
cursor: pointer;
font-weight: 650;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 20px auto;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background:#5AD635;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

}