.img-grid img{
    transition: transform 0.3s ease, box-shadow 0.3s ease !important; /* Transición suave para transformaciones y sombra */



}

.img-grid img:hover{
    transform: scale(
        1
      ); 
      transition: 0.1s !important;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Añade una sombra brillante alrededor de la imagen */
      outline: 3px solid white;
      outline-offset: 4px ;
}