
.slick-slide div{
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px !important;


    
}
.slick-slide div img{
    border-radius: 16px;
    width: 329px;
    height: 184px;

 }


 .slick-slide slick-active{
    width: 328px !important;
 }

 .slick-next{
    right: 0px;
    margin-top: 20px;
 }

 .slick-next:before{

   font-size: 30px;
   color: #3D9133
 }
 .slick-prev:before{

   font-size: 30px;
   color: #3D9133
 }

 .container {
    max-width: 1750px !important;
    margin-bottom: 20px ;

 }

 
