

.mySwiper {
    width: 100%;
    height: 600px;

}

#slideSwip{
height: 500px;
display: flex;
justify-content: center;



}
#slideimg{
    width: 90%;
    border-radius: 20px;
    object-fit: cover;

}

.swiper-wrapper {
    display: flex;
    align-items: center;
}


.swiper-button-prev{
    margin-left: 80px;
}

.swiper-button-next{
margin-right: 80px ;

}